.Cart
    height: 35px
    width: 35px
    border: 2px solid black
    float: right
    margin: -10px 25px 0 0
    background: #d4f4dd
    border-radius: 3px
    position: relative
    text-align: center

.Cart p
    margin: 6px 0 0 0
