$tiffany: #17bebb;
$aero: #d4f4dd;
$sapphire: #155884;
$rusty: #d62246;
$puce: #4b1d3f;
$font: 'lobster', 'cursive'

@import url('https://fonts.googleapis.com/css?family=Lobster');

.Header
    background: $puce
    height: 120px
    text-align: center


.HeaderText
    padding-top: 45px
    color: #e8e8e8
    font-family: $font
    font-size: 25px
    margin: 0
    box-sizing: border-box